<div class="table-row row">
  <div class="col">
    <%= group.name %>
  </div>

  <div class="col">
    <%= group.description %>
  </div>

  <div class="action-col">
    <%= button_to "Show", {:controller => :groups, :action => 'show', :id => group.id }, method: "get" %>
  </div>

  <div class="action-col">
    <% if @user_group_array.include? group.id %>
      <%= button_to "Leave", { :controller => :group_members, :id => group.group_members.ids.first, :action => 'destroy' }, :method => :delete %>
    <% else %>
    <%= button_to "Join", group_members_path(:group_id => group.id, :user_id => @current_id.id), method: 'post' %>
    <% end %>
  </div>

</div>
