<p style="color: green"><%= notice %></p>

<h1>Groups</h1>

<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
    <p>
      <%= link_to "Show this group", group %>

      <% if @user_group_array.include? group.id %>
        <%= button_to "Leave Group", { :controller => :group_members, :id => group.group_members.ids.first, :action => 'destroy' }, :method => :delete %>
      <% else %>
       <%= button_to "Join Group", group_members_path(:group_id => group.id, :user_id => @current_id.id), method: 'post' %>
      <% end %>
    </p>
  <% end %>
</div>

<%= link_to "New group", new_group_path %>
