<p style="color: green"><%= notice %></p>

<h1>Groups</h1>

<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
    <p>
      <%= link_to "Show this group", group %>
      <%# change the user id below %>
      <%= button_to "Join Group", group_members_path(:group_id => group.id, :user_id => 1), method: 'post' %>
    </p>
  <% end %>
</div>

<%= link_to "New group", new_group_path %>
