<p style="color: green"><%= notice %></p>

  <div class="col">
    <%= @group.name %>
  </div>

  <div class="col">
    <%= @group.description %>
  </div>

<br><br>
<h2>Members:</h2>
<div id="users">
  <% @users.each do |user| %>
    <p><%= user.full_name %></p>
  <% end %>
  <br>
</div>

<div>
  <%= link_to "Edit this group", edit_group_path(@group) %> |
  <%= link_to "Back to groups", groups_path %>

  <%= button_to "Destroy this group", @group, method: :delete %>
</div>
