
<div class="table-row row">
  <div class="col fill">
    <%= event.name %>
  </div>

  <div class="col">
    <div class="time-col col">
      <div class="row">
        <%= event.start.in_time_zone('Central Time (US & Canada)').strftime("%m/%d/%Y %H:%M CST")  %>
      </div>
      <div class="row">
        <%= event.end.in_time_zone('Central Time (US & Canada)').strftime("%m/%d/%Y %H:%M CST")  %>
      </div>
    </div>
  </div>

  <div class="action-col">
    <%= button_to "Show", {:controller => :events, :action => 'show', :id => event.id }, method: "get" %>
  </div>

  <div class="action-col">
    <% if @user_event_array.map(&:event_id).include? event.id %>
      <%= button_to "Leave", { :controller => :event_members, :id => EventMember.where('event_id' => event.id, 'user_id' => @current_id).first.id, :action => 'destroy' }, :method => :delete %>
    <% else %>
      <%= button_to "Join", event_members_path(:event_id => event.id, :user_id => @current_id), method: 'post' %>
    <% end %>
  </div>
</div>