<%= stylesheet_link_tag 'events' %>

<div class="main p-5">
  <h1>Editing event</h1>
  <p style="color: red"><%= notice %></p>

  <%= render "form", event: @event %>

  <br>

  <div class="row">
    <div class="col-1">    
      <%= button_to "Show this event", @event, method: :get %> 
    </div>
    <div class="col-1">
      <%= button_to "Back to events", events_path, method: :get %>
    </div>
  </div>
</div>
