<p style="color: green"><%= notice %></p>
<h1>Events</h1>

<div id="events">
  <% @events.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "Show this event", event %>
      <% if @user_event_array.include? event.id %>
        <%= button_to "Leave Event", { :controller => :event_members, :id => event.event_members.ids.first, :action => 'destroy' }, :method => :delete %>
      <% else %>
       <%= button_to "Join Event", event_members_path(:event_id => event.id, :user_id => @current_id.id), method: 'post' %>
      <% end %>
    </p>
  <% end %>
</div>

<%= link_to "New event", new_event_path %>