<p style="color: green"><%= notice %></p>

<h1>Events</h1>

<div id="events">
  <% @events.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "Show this event", event %>
      <%# dont hardcode user_id here %>
      <%= button_to "Join Event", event_members_path(:event_id => event.id, :user_id => 1), method: 'post' %>
    </p>
  <% end %>
</div>

<%= link_to "New event", new_event_path %>
