<%= stylesheet_link_tag 'events' %>
<div class="main p-5">
    <h1>Event Details</h1>
    <p style="color: red"><%= notice %></p>

    <div class="row py-2">
      <h3> <%= @event.name %> </h3>
    </div>

    <div class="row py-2">
      <h5>
        <%= @event.start.in_time_zone('Central Time (US & Canada)').strftime("%m/%d/%Y %H:%M CST")  %> - <%= @event.end.in_time_zone('Central Time (US & Canada)').strftime("%m/%d/%Y %H:%M CST")  %>
      </h5>
    </div>

    <div class="row py-2">
      <% if @users.empty? %>
        <h3> No members in event </h3>
      <% else %>
        <h3>Members:</h3>
        <div id="users">
          <% @users.each do |user| %>
            <h6><%= user.full_name %></h6>
          <% end %>
        </div>
      <% end %>
    </div>

  <div class="row py-2">
    <div class="col-1">
      <%= button_to "Edit this event", edit_event_path(@event), method: :get %> 
    </div>
    <div class="col-1">
      <%= button_to "Back to events", events_path, method: :get %>
    </div>
    <div class="col-1">    
      <%= button_to "Delete Event", @event, method: :delete %>
    </div>
  </div>
</div>
