<%= stylesheet_link_tag 'events' %>
<div class="main">
  <h1 class="px-4">Event Details</h1>
  <div class="content">
    <div class="event-table">
      <div class="events">
        <div class="table-header row">
          <div class="col-2">Name</div>
          <div class="col">Description</div>
          <div class="col-2">Location</div>
          <div class="col-2">Start</div>
          <div class="col-2">End</div>
        </div>
        <div class="table-row table-cream row">
          <div class="col-2">
            <%= @event.name %>
          </div>
          <div class="col">
            <%= @event.description %>
          </div>
          <div class="col-2">
            <%= @event.location %>
          </div>

          <div class="col-2">
              <%= @event.start.in_time_zone('Central Time (US & Canada)').strftime("%m/%d/%Y %H:%M CST")  %>
          </div>
          <div class="col-2">
            <%= @event.end.in_time_zone('Central Time (US & Canada)').strftime("%m/%d/%Y %H:%M CST")  %>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="row py-2 px-4">
      <% if @users.empty? %>
        <h3> No members in event </h3>
      <% else %>
        <h3>Members:</h3>
        <div id="users">
          <% @users.each do |user| %>
            <h6><%= user.full_name %></h6>
          <% end %>
        </div>
      <% end %>
    </div>

  <div class="px-4">
    <%= link_to "Edit this event", edit_event_path(@event) %> |
    <%= link_to "Back to events", events_path %>
    <%= button_to "Destroy this event", @event, method: :delete %>
  </div>

</div>