<p style="color: green"><%= notice %></p>

<div class="col fill">
    <%= @event.name %>
  </div>

  <div class="col">
    <div class="time-col col">
      <div class="row">
        <%= @event.start.in_time_zone('Central Time (US & Canada)').strftime("%m/%d/%Y %H:%M CST")  %>
      </div>
      <div class="row">
        <%= @event.end.in_time_zone('Central Time (US & Canada)').strftime("%m/%d/%Y %H:%M CST")  %>
      </div>
    </div>
  </div>

<br><br>
<h2>Members:</h2>
<div id="users">
  <% @users.each do |user| %>
    <p><%= user.full_name %></p>
  <% end %>
  <br>
</div>

<div>
  <%= link_to "Edit this event", edit_event_path(@event) %> |
  <%= link_to "Back to events", events_path %>

  <%= button_to "Destroy this event", @event, method: :delete %>
</div>
